{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Congrats! Logged in successfully</p>
  </div>

{% endblock %}
