{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome! Please Login.</p>
    <hr><br>
    <a href="/auth/google" class="btn btn-default">Google</a>
    <a href="/auth/facebook" class="btn btn-default">Facebook</a>

  </div>

{% endblock %}
